<!--@TODO: This needs to use a CSS grid/flex thing-->
<!--@TODO: Obviously put all the inline styles into classes-->
<div>
  <div *ngFor="let row of simulationState.getRows(); index as rowIndex" style="display: block; height: 1rem">
    <div *ngFor="let cell of simulationState.getRowCellIndexes(rowIndex)" style="display: inline-block; border: 1px solid #a0a0a0; height: 1rem; width: 1rem">
      <!--@TODO: Get this looking right!-->
      @if(cell) {
        <span *ngIf="cell.isInJam()" style="position: absolute; font-size: small; color: #c0c0c0" [style.rotate]="(-1 * cell.getRotationAngle()) + 'deg'">
            <fa-icon *ngIf="cell.isCrossover()" [icon]="faHashtag"></fa-icon>
            <fa-icon *ngIf="cell.isSplitting()" [icon]="faArrowsSplitUpAndLeft"></fa-icon>
            <fa-icon *ngIf="cell.isMerging()" [icon]="faCodeMerge"></fa-icon>
            <fa-icon *ngIf="! cell.isCrossover() && ! cell.isSplitting() && ! cell.isMerging()" [icon]="faCircleArrowRight"></fa-icon>
          <span *ngIf="cell.hasVehicle()" style="position: absolute; left: 0.25rem; font-size: x-small; color: black" [style.rotate]="cell.getRotationAngle() + 'deg'">
            <fa-icon [icon]="faCarSide" [style.color]="cell.getVehicleColour()"></fa-icon>
          </span>
          <span *ngIf="simulationState.isLeadVehicle(cell)" style="position: absolute; font-size: 80%; top: -0.3rem; left: 0.7rem; color: red; background: rgba(255, 255, 255,  0.7)" [style.rotate]="cell.getRotationAngle() + 'deg'">
            {{ simulationState.getJamNumber(cell) }}
          </span>
        </span>
      } @else {
        <span style="position: absolute; font-size: medium; color: #404040; background-color: #ffff99">
            <fa-icon [icon]="faTableCells"></fa-icon>
        </span>
      }
    </div>
  </div>
</div>

<div>
  <p>Simulation Summary: {{ simulationState.getSummary() }}</p>
</div>

<div>
  <p>Speed {{ simulationState.getSpeedForDisplay()}} <button (click)="simulationState.speedUp()">Faster</button>&nbsp;<button (click)="simulationState.slowDown()">Slower</button></p>
</div>

<div *ngIf="simulationState.isRunningAllTests()">
  <h3>Running all tests</h3>
  <p><button (click)="simulationState.runNormal()">Back to normal mode</button></p>
  <ul>
    <li *ngFor="let testScenario of simulationState.getTestScenarios()">
      <button (click)="simulationState.runTest(testScenario.getSlug())">{{ testScenario.getName() }}</button> - {{ testScenario.getDescription() }}
      <ul>
        <li *ngFor="let moveStateAssertion of simulationState.getMoveStateAssertionsForScenario(testScenario)">
          {{ moveStateAssertion.getMoveNumber() }} - {{ moveStateAssertion.getMoveOutcome() }} <span>
            <fa-icon *ngIf="moveStateAssertion.isPending()" [icon]="faClock" [style.color]="'orange'"></fa-icon>
            <fa-icon *ngIf="moveStateAssertion.isInProgress()" [icon]="faSpinner"></fa-icon>
            <fa-icon *ngIf="moveStateAssertion.hasFailed()" [icon]="faCircleXmark" [style.color]="'red'"></fa-icon>
            <fa-icon *ngIf="moveStateAssertion.hasPassed()" [icon]="faCircleCheck" [style.color]="'green'"></fa-icon>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="! simulationState.isRunningAllTests()">
  <h3>Test Scenarios</h3>
  <div style="max-height: 8rem; max-width: 40rem; overflow: auto; border: 1px solid grey">
    <ul>
      <li *ngFor="let testScenario of simulationState.getTestScenarios()">
        <button (click)="simulationState.runTest(testScenario.getSlug())">{{ testScenario.getName() }}</button><span *ngIf="testScenario.isCurrentlyRunning()"> [running]</span> - {{ testScenario.getDescription() }}
      </li>
      <li>
        <button (click)="simulationState.runTest(TestService.testAllSlug)">All</button> - Run all tests
      </li>
    </ul>
  </div>
  <h4>Test Assertions</h4>
  <p>Current move: {{ simulationRunner.getMoveCount() }}</p>
  <table>
    <tr>
      <th>After Move #</th><th>State</th>
    </tr>
    <tr *ngFor="let moveStateOutcome of simulationState.getMoveStateOutcomes(0)">
      <td>{{ moveStateOutcome.getMoveNumber() }}</td>
      <td>{{ moveStateOutcome.getMoveOutcome() }} <span>
          <fa-icon *ngIf="moveStateOutcome.isPending()" [icon]="faClock" [style.color]="'orange'"></fa-icon>
          <fa-icon *ngIf="moveStateOutcome.isInProgress()" [icon]="faSpinner"></fa-icon>
          <fa-icon *ngIf="moveStateOutcome.hasFailed()" [icon]="faCircleXmark" [style.color]="'red'"></fa-icon>
          <fa-icon *ngIf="moveStateOutcome.hasPassed()" [icon]="faCircleCheck" [style.color]="'green'"></fa-icon>
        </span>
      </td>
    </tr>
  </table>
</div>
